*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
}
header{
    display: flex;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
}
.logo img{
    height: 100px;
    width: auto;
}
.ten{
    text-align: center;
    margin-left: 300px;
    color: rgb(227, 232, 236);
}

.menu{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
.menu  li{
    list-style: none;
    padding: 10px 0px;
    position: relative;
}
.menu li> a{
    text-decoration: none;
    color: rgb(224, 223, 221);
    padding: 10px 10px;
}
.menu li:hover > a{
    background-color: rgba(0,0,0,0.4);
    color: antiquewhite;
}
.menu li ul{
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 150px;
    top: 100%;
    left: 0;
}
.menu li ul li{
    list-style: none;
    padding: 0px 0px;
}
.menu li ul li>a{
    padding: 8px 10px;
    display: block;
}
.menu li ul li:hover>a{
    border-bottom: 1px solid rgb(108, 106, 106);
    color: aliceblue;
}
.menu li:hover ul{
    display: block;
}

section{
    display: flex;
}
.dsKhoa{
    width: 500px;
    margin:20px 20px 0px 20px;
}
.dsKhoa ol li{
    margin-top: 10px;
}
.dsKhoa ol li a{
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(13, 13, 13);
}

.container{
    display: block;
}

.content{
    display: flex;
    margin: 20px 0px 30px;
}
.content img{
    height: 100px;
    width: auto;
    margin-right: 5px;
}

.acide{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.acide table{
    width: 100%;
}
.log{
    margin-top: 3px;
    border: 0.5px solid rgba(0,0,0,0.6);
}
footer{
    background-color: rgba(0,0,0,0.8);
    color: rgb(208, 206, 203);
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 80%;
    padding: 5px;
}
